.ani-enter-active {
  &#bounceIn-ani-element {
    animation: bounceIn 1s;
  }

  &#bounceInDown-ani-element {
    animation: bounceInDown 1s;
  }

  &#bounceInLeft-ani-element {
    animation: bounceInLeft 1s;
  }

  &#bounceInRight-ani-element {
    animation: bounceInRight 1s;
  }

  &#bounceInUp-ani-element {
    animation: bounceInUp 1s;
  }

  &#fadeIn-ani-element {
    animation: fadeIn 1s;
  }

  &#fadeInDown-ani-element {
    animation: fadeInDown 1s;
  }

  &#fadeInDownBig-ani-element {
    animation: fadeInDownBig 1s;
  }

  &#fadeInLeft-ani-element {
    animation: fadeInLeft 1s;
  }

  &#fadeInLeftBig-ani-element {
    animation: fadeInLeftBig 1s;
  }

  &#fadeInRight-ani-element {
    animation: fadeInRight 1s;
  }

  &#fadeInRightBig-ani-element {
    animation: fadeInRightBig 1s;
  }

  &#fadeInUp-ani-element {
    animation: fadeInUp 1s;
  }

  &#fadeInRightBig-ani-element {
    animation: fadeInRightBig 1s;
  }

  &#fadeInUpBig-ani-element {
    animation: fadeInUpBig 1s;
  }

  &#flipInX-ani-element {
    animation: flipInX 1s;
  }

  &#flipInY-ani-element {
    animation: flipInY 1s;
  }

  &#lightSpeedInLeft-ani-element {
    animation: lightSpeedInLeft 1s;
  }

  &#lightSpeedInRight-ani-element {
    animation: lightSpeedInRight 1s;
  }

  &#rotateIn-ani-element {
    animation: rotateIn 1s;
  }

  &#rotateInDownLeft-ani-element {
    animation: rotateInDownLeft 1s;
  }

  &#rotateInDownRight-ani-element {
    animation: rotateInDownRight 1s;
  }

  &#rotateInUpLeft-ani-element {
    animation: rotateInUpLeft 1s;
  }

  &#rotateInUpRight-ani-element {
    animation: rotateInUpRight 1s;
  }

  &#rollIn-ani-element {
    animation: rollIn 1s;
  }

  &#zoomIn-ani-element {
    animation: zoomIn 1s;
  }

  &#zoomInDown-ani-element {
    animation: zoomInDown 1s;
  }

  &#zoomInLeft-ani-element {
    animation: zoomInLeft 1s;
  }

  &#zoomInRight-ani-element {
    animation: zoomInRight 1s;
  }

  &#zoomInUp-ani-element {
    animation: zoomInUp 1s;
  }

  &#slideInDown-ani-element {
    animation: slideInDown 1s;
  }

  &#slideInLeft-ani-element {
    animation: slideInLeft 1s;
  }

  &#slideInRight-ani-element {
    animation: slideInRight 1s;
  }

  &#slideInUp-ani-element {
    animation: slideInUp 1s;
  }
}

.ani-leave-active {
  &#bounceIn-ani-element {
    animation: bounceIn 1s reverse;
  }

  &#bounceInDown-ani-element {
    animation: bounceInDown 1s reverse;
  }

  &#bounceInLeft-ani-element {
    animation: bounceInLeft 1s reverse;
  }

  &#bounceInRight-ani-element {
    animation: bounceInRight 1s reverse;
  }

  &#bounceInUp-ani-element {
    animation: bounceInUp 1s reverse;
  }

  &#fadeIn-ani-element {
    animation: fadeIn 1s reverse;
  }

  &#fadeInDown-ani-element {
    animation: fadeInDown 1s reverse;
  }

  &#fadeInDownBig-ani-element {
    animation: fadeInDownBig 1s reverse;
  }

  &#fadeInLeft-ani-element {
    animation: fadeInLeft 1s reverse;
  }

  &#fadeInLeftBig-ani-element {
    animation: fadeInLeftBig 1s reverse;
  }

  &#fadeInRight-ani-element {
    animation: fadeInRight 1s reverse;
  }

  &#fadeInRightBig-ani-element {
    animation: fadeInRightBig 1s reverse;
  }

  &#fadeInUp-ani-element {
    animation: fadeInUp 1s reverse;
  }

  &#fadeInRightBig-ani-element {
    animation: fadeInRightBig 1s reverse;
  }

  &#fadeInUpBig-ani-element {
    animation: fadeInUpBig 1s reverse;
  }

  &#flipInX-ani-element {
    animation: flipInX 1s reverse;
  }

  &#flipInY-ani-element {
    animation: flipInY 1s reverse;
  }

  &#lightSpeedInLeft-ani-element {
    animation: lightSpeedInLeft 1s reverse;
  }

  &#lightSpeedInRight-ani-element {
    animation: lightSpeedInRight 1s reverse;
  }

  &#rotateIn-ani-element {
    animation: rotateIn 1s reverse;
  }

  &#rotateInDownLeft-ani-element {
    animation: rotateInDownLeft 1s reverse;
  }

  &#rotateInDownRight-ani-element {
    animation: rotateInDownRight 1s reverse;
  }

  &#rotateInUpLeft-ani-element {
    animation: rotateInUpLeft 1s reverse;
  }

  &#rotateInUpRight-ani-element {
    animation: rotateInUpRight 1s reverse;
  }

  &#rollIn-ani-element {
    animation: rollIn 1s reverse;
  }

  &#zoomIn-ani-element {
    animation: zoomIn 1s reverse;
  }

  &#zoomInDown-ani-element {
    animation: zoomInDown 1s reverse;
  }

  &#zoomInLeft-ani-element {
    animation: zoomInLeft 1s reverse;
  }

  &#zoomInRight-ani-element {
    animation: zoomInRight 1s reverse;
  }

  &#zoomInUp-ani-element {
    animation: zoomInUp 1s reverse;
  }

  &#slideInDown-ani-element {
    animation: slideInDown 1s reverse;
  }

  &#slideInLeft-ani-element {
    animation: slideInLeft 1s reverse;
  }

  &#slideInRight-ani-element {
    animation: slideInRight 1s reverse;
  }

  &#slideInUp-ani-element {
    animation: slideInUp 1s reverse;
  }
}